<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>audit : View all</title>
</head>
<body>
	<h1 layout:fragment="header">audit : View all</h1>
	<div layout:fragment="content" class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Customer</td>
					<td>Total Amount</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${audits.empty}">
					<td colspan="4">No audits</td>
				</tr>
				<tr th:each="audit : ${audits}">
					<td><a href="audit/1" th:href="${audit.id}"
						th:text="${audit.id}">1</a></td>
					<td
						th:text="${audit.customer.firstname} + ' ' + ${audit.customer.name}">Firstname
						Name</td>
					<td th:text="${audit.totalAmount()}">42.0</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>