<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>audit</title>
</head>
<body>
	<h1 layout:fragment="header">audit</h1>
	<div layout:fragment="content" class="container">

		<div class="row">
			<div class="col-md-2">
				<b>Customer</b>
			</div>
			<div class="col-md-2"
				th:text="${audit.customer.firstname}+' '+${audit.customer.name}"></div>
			<div class="col-md-2"
				th:text="${audit.customer.email}"></div>
		</div>

		<div class="row">
			<h2>Billing Address</h2>
		</div>

		<div class="row">
			<div class="col-md-2">
				<b>Street</b>
			</div>
			<div class="col-md-2" th:text="${audit.billingAddress.street}"></div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<b>Zip</b>
			</div>
			<div class="col-md-2" th:text="${audit.billingAddress.zip}"></div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<b>City</b>
			</div>
			<div class="col-md-2" th:text="${audit.billingAddress.city}"></div>
		</div>

		<div class="row">
			<h2>audit Lines</h2>
		</div>

		<div class="row">
			<div class="col-md-2">
				<b>Quantity</b>
			</div>
			<div class="col-md-2">
				<b>Item</b>
			</div>
			<div class="col-md-2">
				<b>Name</b>
			</div>
			<div class="col-md-2">
				<b>Price</b>
			</div>
			<div class="col-md-2">
				<b>Total Price</b>
			</div>
		</div>

		<div class="row" th:each="auditLine : ${audit.auditLine}">
			<div class="col-md-2" th:text="${auditLine.count}"></div>
			<div class="col-md-2" th:text="${auditLine.item.itemId}"></div>
			<div class="col-md-2" th:text="${auditLine.item.name}"></div>
			<div class="col-md-2" th:text="${auditLine.item.price}"></div>
			<div class="col-md-2" th:text="${auditLine.totalAmount()}"></div>
		</div>

	</div>
</body>
</html>